/* Using https://niklasfasching.de/posts/just-enough-css/ as a starting point. */

* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
    max-width: 42em;
  }}

h1, h2, h3, h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  color: #3B3C40;
} 

a { 
  color: #12A1C7;
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

p code {
  background-color: #eee; /* may want to change? */
  padding: 0.05em 0.2em;
  border: 1px solid #ccc; /* may want to change to accent colors? */
}

ol, ul {
  margin: 1em;
} 
ol li ol, ol li ul, ul li ol, ul li ul {
  margin: 0 2em;
}
ol li p, ul li p {
  margin: 0;
}

dl {
  font-family: monospace, monospace;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: -1em 0 1em 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px #EB9E3D;
}

.title {
  font-size: 2.5em;
}
.subtitle {
  font-weight: normal;
  font-size: 0.75em;
  color: #ABBF63;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
}
.tags li {
  display: inline;
  margin-right: 0.5em;
}

figure {
  margin: 1em 0;
}
figure figcaption {
  font-family: monospace, monospace;
  font-size: 0.75em;
  text-align: center;
  color: grey;
}

header {
  display: flex;
  justify-content: space-betwee;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a + a {
  margin-left: 1rem;
}

.
